<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkcpdmRPK_zdCN1OwHQCMFoyJ4lZErvTo</string>
	<key>GCM_SENDER_ID</key>
	<string>1071174620596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.invitation</string>
	<key>PROJECT_ID</key>
	<string>invitation-424517</string>
	<key>STORAGE_BUCKET</key>
	<string>invitation-424517.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071174620596:ios:d6121934eceb19e6048ee1</string>
	<key>DATABASE_URL</key>
	<string>https://invitation-424517-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>